<section id="profile">
  <div class="card image">
    <img class="circle" src="https://avatars0.githubusercontent.com/u/31532319">
  </div>
  <div class="bio">
    <h1>Shekychan</h1><p>
      Python/Ruby Developer<br>
      Source, Unity Gamehacker<br>
      Awful Haskell Programmer<br>
      Terms of Service Violator<br>
    </p>
  </div>
  <div class="info">
    <a href="https://github.com/{{site.github}}">github</a>
    -
    <a href="https://gitlab.com/{{site.github}}">gitlab</a>
    <br>
    <a href="discord://open/users/203618651650260992">discord</a>
    -
    <a href="tg://resolve?domain=shekelwitz">telegram</a>
    <br>
    <a href="mailto:{{site.email}}">{{site.email}}</a>
  </div>
</section>
