<section id="profile">
  <div class="card image">
    <img class="circle" src="https://avatars0.githubusercontent.com/u/31532319">
  </div>
  <div class="bio">
    <h1>Shekychan</h1><p>
      Python/Ruby Developer<br>
      Source, Unity Gamehacker<br>
      Awful Haskell Programmer<br>
      Terms of Service Violator<br>
    </p>
  </div>
  <div class="info">
    <a>github</a>
    <a>gitlab</a>
    <br>
    <a>discord</a>
    <a>telegram</a>
    <br>
    <!-- <a href="tel:123-456-7890">+1 (123) 456-7890</a>
    <br> -->
    <a href="mailto:{{site.email}}">{{site.email}}</a>
  </div>
</section>
