<!docType html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="{{'/assets/main.css'}}">
  <link rel="icon" href="/favicon.ico">
  <!-- Twitter cards -->
  <meta name="twitter:site"    content="{{ site.url }}">
  <meta name="twitter:creator" content="{{ site.author }}">
  {% if page.title %}
  <meta name="twitter:title"   content="{{ page.title }}">
  {% else %}
  <meta name="twitter:title"   content="{{ site.title }}">
  {% endif %}
  {% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt | xml_escape | textilize}}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  <link type="application/json+oembed" href="/oembed.json">
  <meta name="theme-color" content="#7FDBFF">
</head>
<body>
  {{content}}
</body>
</html
